# Mapbox Token (optional)
REACT_APP_MAPBOX_TOKEN=

# Port Configuration
REACT_APP_FRONT_PORT=3000
REACT_APP_TILE_SERVER_PORT=8091

# gemini-framework backend
REACT_APP_FRAMEWORK_PORT=7777
REACT_APP_FRAMEWORK_HOST=localhost
REACT_APP_STORAGE_BUCKET=gemini
